.tabContainer{
    display: flex;
    justify-content: space-between;
}

.shopTab{
    width: 85%;
    border: 1px solid black;
}

.shopTab thead{
    background-color: rgb(65, 65, 65);
    color: white;
}

.shopTab td{
    border-bottom: 1px solid grey;
    /* background-color: blueviolet; */
    padding: 10px;
}

.product-name{
    font-weight: bold;
    width: 200px;
}
.product-price{
    width: 150px;
}
.product-total{
    width: 150px;
}
.shopTab tr {
    transition: background-color 0.3s ease-in-out;
    height: 60px;
}
.shopTab tr:hover{
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

/* QUANTITY */
.quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 50px;
    font-weight: bold;
}

.quantity-btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handleDecrement{
    background-color: black;
    color: white;
    border-radius: 4px;
}

.addToCart{
    background-color: black;
    color: white;
    border-radius: 4px;
}

/* TOTAL - CARD */
.TotalCard{
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 8px;
    max-height: 190px;
}
.TotalCard h3{
    margin: 10px;
    font-size: 25px;
}

.TotalCard p{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.shop-submit{
    width: 90%;
    height: 40px;
    background-color: rgb(4, 220, 119);
    color: white;
    margin: auto;
    border: 0px;
    border-radius: 6px;
}